In [1]:
# Topic 1: String Based

In [4]:
# Question 1

# take input string
text = ""
text = input("write your string: ")

# reverse string
reversed_string = text[::-1]

# print the reversed string
print(reversed_string)

write your string:  sapan

napas

In [6]:
# Question 2

# take input string
text = ""
text = input("write your string here: ")

# reverse the string
reversed_string = text[::-1]

# check for pallindrome and print the result
if text == reversed_string:
    print("this is a pallindrome")
else:
    print("this is not a pallindrome")

write your string here:  malayalam

this is a pallindrome

In [7]:
# Question 3

# take input string
text = ""
text = input("write your string here: ")

# print the desired result
print(text.upper())

write your string here:  sapan

SAPAN

In [8]:
# Question 4

# take input string
text = ""
text = input("write your string here: ")

# print the desired result
print(text.lower())

write your string here:  FooBar

foobar

In [9]:
# Question 5

# take input string
text = ""
text = input("write your string here: ")

# define the vowels 
vowels = "aeiouAEIOU"

# define a counter for vowels
vowel_counter = 0

# check if the input has any vowels
for i in text:
    if i in vowels:
        vowel_counter+=1

# print the output
print("the number of vowels is: ", vowel_counter)

write your string here:  sapan is awesome

the number of vowels is:  7

In [10]:
# Question 6

# take input string
text = ""
text = input("write your string here: ")

# define the vowels 
vowels = "aeiouAEIOU"

# define a counter for vowels
vowel_counter = 0

# check if the input has any vowels
for i in text:
    if i in vowels:
        vowel_counter+=1

# print the output
print("the number of consonants is: ", len(text)-vowel_counter)

write your string here:  sapan is awesome

the number of consonants is:  9

In [15]:
# Question 7

# take input string
text = ""
text = input("write your string here: ")

# remove the whitespaces
text.replace(" ","")

# print the output
print(text.replace(" ",""))

write your string here:   g r e e k

greek

In [1]:
# Question 8

# take input string
text = ""
text = input("write your string here: ")

# find the length and print the output
print("the length of your text is: ", len(text))

write your string here:  my name is sapan

the length of your text is:  16

In [2]:
# Question 9

# take input string
text = ""
text = input("write your string here: ")

# taking the word to check for as input
word = ""
word = input("the word you want to check for: ")

# checking for the word 
if word in text:
    print("your word has been found in the given text")

write your string here:  this random person crossing the street is very cautious of the mistakes he could end up making
the word you want to check for:  the

your word has been found in the given text

In [3]:
# Question 10

# take input string
text = ""
text = input("write your string here: ")

# taking the words to replace with
word_to_replace = ""
word_to_replace_with = ""
word_to_replace = input("which word in the given string do you want to replace: ")
word_to_replace_with = input("what is the word to replace with: ")

# performing the replacement
if word_to_replace in text:
    new_text = text.replace(word_to_replace,word_to_replace_with)

# displaying the output
print("your new string is: ", new_text)

write your string here:  my name is sapan
which word in the given string do you want to replace:  sapan
what is the word to replace with:  sashank

your new string is:  my name is sashank

In [9]:
# Question 11

# take input string
text = ""
text = input("write your string here: ")

# taking the word to count as input
word_to_count = ""
word_to_count = input("which word in the given string do you want to count: ")

# split the input string into words
words = text.split()

# initializing a counter
counter = 0

# counting the word and displaying the output
for i in words:
    if i == word_to_count:
        counter+=1
print(f"the word '{word_to_count}' is present '{counter}' times in the given string")

write your string here:  what is your name sir?
which word in the given string do you want to count:  madam

the word 'madam' is present '0' times in the given string

In [12]:
# Question 12

# take input string
text = ""
text = input("write your string here: ")

# taking the word to check as input
word_to_check = ""
word_to_check = input("which word in the given string do you want to check: ")

# Find the first occurrence of the word
index = text.find(word_to_check)

# displaying the result
if index != -1:
    print(f"the first occurrence of '{word_to_check}' is found at {index}")
else:
    print(f"the word '{word_to_check}' was not found in the given string.")

write your string here:  what is your name son? where are you from?
which word in the given string do you want to check:  son

the first occurrence of 'son' is found at 18

In [8]:
# question 13

# defining a string
string = "this is a test string which we are going to perform our operation from, this"

# ask the user for the word to test for
word = input("which word do you want to look for")

# finding the last index
position = string.rfind(word)

# displaying the result
print(position)

72

In [9]:
# question 14

# take the user input and split it into a list
user_input = list(input("enter your string here: ").split())

# display the result
print(user_input)

['hello', 'my', 'name', 'is', 'sapan', 'and', 'you', 'are', 'now', 'at', 'the', 'checkpoint', 'of', 'your', 'journey', 'that', 'matters', 'the', 'most']

In [11]:
# question 15

# defining a list of words
list_of_words = ["hi","this","is","your","favourite","programmer","shank","and","he","is","here"]

# coverting the list into a string and displaying the result
string = " ".join(list_of_words)
print(string)

hi this is your favourite programmer shank and he is here

In [13]:
# question 16

# defining a string
a_string = "hey there mr. texas! how do you do? what brings you to this part of the country?"

# performing the replace function
new_string = a_string.replace(" ","_")

# displaying the result
print(new_string)

hey_there_mr._texas!_how_do_you_do?_what_brings_you_to_this_part_of_the_country?

In [14]:
# question 17

# defining a string
a_string = "hey hi mr. yankee! howdy?"

# take user input for the word or phrase
user_input = input("enter the word you want to check for: ")

# checking
pos = a_string.find(user_input)

if pos == 0:
    print("yes the string starts with the particular word you have given")
else:
    print("no the string doesn't start with that particular word")

yes the string starts with the particular word you have given

In [16]:
# question 18

# defining a string
a_string = "hey what is the name of your pet? do you know that they respond to it"

# ask the user for the word to check with
user_input = input("what is the word you want to check for: ")

# check
if a_string.endswith(user_input):
    print("yes the string ends with the particular word that you have given")
else:
    print("no the string doesn't end with the word that you have given")

no the string doesn't end with the word that you have given

In [17]:
# question 19

# defining a string
a_string = "welcome to the world of non binaries"

# displaying the result
print(a_string.title())

Welcome To The World Of Non Binaries

In [20]:
# question 20

# defining a string
a_string = "welcome to the world of non binaries"

# creating a list of words from the string
words = a_string.split()

# finding the longest word
longest_word = max(words,key=len)

# displaying the outpout
print(longest_word)

binaries

In [21]:
# question 21

# defining a string
a_string = "welcome to the world of non binaries"

# creating a list of words from the string
words = a_string.split()

# finding the shortest word
longest_word = min(words,key=len)

# displaying the outpout
print(longest_word)

to

In [24]:
# question 22

# defining a string
a_string = "welcome to the world of non binaries"

# creating a list of words from the string
words = a_string.split()

# reverse the list of words
words.reverse()

# joining the words to make a string
new_string = " ".join(words)

# displaying the output
print(new_string)

binaries non of world the to welcome

In [28]:
# question 23

# define a string
a_string = "welcome123"

# displaying the result
print(a_string.isalnum())

True

In [30]:
# question 24

# define a string
a_string = "welcome1 please2"

extracted_string = list()

# extraction of numerics
for i in a_string:
    if i.isnumeric():
        extracted_string.append(i)

# displaying the output
print(str(extracted_string))

['1', '2']

In [31]:
# question 25

# define a string
a_string = "welcome1 please2"

# extraction of alphabets
alphabets = [i for i in a_string if i.isalpha()]

# displaying the outputs
print(alphabets)

['w', 'e', 'l', 'c', 'o', 'm', 'e', 'p', 'l', 'e', 'a', 's', 'e']

In [33]:
# question 26

#defining a string
s1 = "Hello Everyone This is your host Mayanak"

# checking
upcase_sum = sum([1 for i in s1 if i.isupper()])

# display the output
print(upcase_sum)

4

In [34]:
# question 27

#defining a string
s1 = "Hello Everyone This is your host Mayanak"

# checking
lowercase_sum = sum([1 for i in s1 if i.islower()])

# display the output
print(lowercase_sum)

30

In [35]:
# question 28

#defining a string
s1 = "Hello Everyone This is your host Mayanak"

# swapping the case
swapped_string = s1.swapcase()

# displaying the output
print(swapped_string)

hELLO eVERYONE tHIS IS YOUR HOST mAYANAK

In [37]:
# question 29

# defining a string
s1 = "Hello everyone welcome to the world of next gen artistic expression"

# Removing a specific word and displaying the result
print(s1.replace("next",""))

Hello everyone welcome to the world of  gen artistic expression

In [40]:
# question 30

def is_valid_mail(email):
    
    if "@" not in email: 
        return False
    username, domain = email.split("@")
    if "." not in domain:
        return False
    return True

email = "test.1@gmail.com"
print(is_valid_mail(email))

False

In [41]:
# question 31

def user_name_extractor(email):
    if"@"not in email:
        return "Please enter a valid email id"
    username,domain = email.split("@")

    return username

email = "test2@yahoo.com"
print(user_name_extractor(email))

test2

In [42]:
# question 32

# define an email address
email = "test3@outlook.com"

# split at @ 
domain = email.split("@")

# display
print(domain[1])

outlook.com

In [43]:
# question 33

# define a string
s1 = "this is a  test  string to test the below  code"

print(s1.replace("  "," "))

this is a test string to test the below code

In [44]:
# question 34

def url_verifier (url):
    if "www." in url and url.startswith(("http://","https://")):
        return True
    return False

url = "https://www.facebook.com"
print(url_verifier(url))

True

In [46]:
# question 35

# defining a url
url = "https://www.tadbook.com"

# split
protocol, domain = url.split("://")

print(protocol)

https

In [47]:
# question 36

def char_frequency (st1):
    dict = {}
    for i in st1:
        keys= dict.keys()
        if i in keys:
            dict[i] +=1
        else:
            dict[i] = 1
    return dict

print(char_frequency("where is the party tonight? All around the world!"))

{'w': 2, 'h': 4, 'e': 4, 'r': 4, ' ': 8, 'i': 2, 's': 1, 't': 5, 'p': 1, 'a': 2, 'y': 1, 'o': 3, 'n': 2, 'g': 1, '?': 1, 'A': 1, 'l': 3, 'u': 1, 'd': 2, '!': 1}

In [53]:
# question 37

# define a string
s1 = "Hey! Mr. Sapan. Where are you going? To the moon?!"

# removing punctuations
s2 = "".join(i for i in s1 if i.isalnum() or i.isspace())

print(s2)

Hey Mr Sapan Where are you going To the moon

In [55]:
# question 38

# define a string
s1 = "str123sejsdkjoi64535"

# check
if all ("0"<= i<="9" for i in s1):
    print("the string contains only digits")
else:
    print("the string doesn't contain only digits")

the string doesn't contain only digits

In [56]:
# question 39

# define a string
s1 = "str123sejsdkjoi64535"

# check
if all ("a"<= i<="z" for i in s1):
    print("the string contains only alphabets")
else:
    print("the string doesn't contain only alphabets")

the string doesn't contain only alphabets

In [57]:
# question 40

# define a string
s1 = "str123sejsdkjoi64535"

# convert
list = [i for i in s1]
print(list)

['s', 't', 'r', '1', '2', '3', 's', 'e', 'j', 's', 'd', 'k', 'j', 'o', 'i', '6', '4', '5', '3', '5']

In [62]:
# question 41

# ask user input
s1 = input("give me your first string: ")
s2 = input("give me your second string: ")

# check
if sorted(s1) == sorted(s2):
    print("both are anagrams")
else:
    print("both are not anagrams")

both are anagrams

In [63]:
# question 42

def caesar_cipher(text, shift):
    result = ""

    # traverse text
    for i in range(len(text)):
        char = text[i]

        # Encrypt uppercase characters
        if (char.isupper()):
            result += chr((ord(char) + shift - 65) % 26 + 65)

        # Encrypt lowercase characters
        else:
            result += chr((ord(char) + shift - 97) % 26 + 97)

    return result

# check the above function
print(caesar_cipher("LORDISGREAT", 4))

PSVHMWKVIEX

In [64]:
# question 43

def caesar_decipher(text, shift):
    result = ""

    # traverse text
    for i in range(len(text)):
        char = text[i]

        # Decrypt uppercase characters
        if (char.isupper()):
            result += chr((ord(char) - shift - 65) % 26 + 65)

        # Decrypt lowercase characters
        else:
            result += chr((ord(char) - shift - 97) % 26 + 97)

    return result

# check the above function
print(caesar_decipher("PKHROENWEK", 3))

MHEOLBKTBH

In [79]:
# question 44

# define a string
s1 = "whataksjklasjtujoigkanjgklafgja;gasdfs"
s2 = {}

# splitting the individual chars into key and their frequenices to values
for i in s1:
    keys=s2.keys()
    if i in keys:
        s2[i] +=1
    else:
        s2[i] = 1

sorted_s2 = sorted(s2.items(),key=lambda x:x[1],reverse=True)

print("the max frequent char: ",sorted_s2[0])

the max frequent char:  ('a', 7)

In [83]:
# question 45

# define a string
s1 = "my name is ramesh and i am a very good carpenter and a very good mathmatician."

chars = s1.split()
unique_words = set(chars)

print(unique_words)

{'name', 'ramesh', 'is', 'and', 'am', 'i', 'mathmatician.', 'very', 'a', 'my', 'carpenter', 'good'}

In [84]:
# question 46

def count_syllables(text):
    count = 0
    vowels = "aeiouy"
    text = text.lower().strip(".:;?!")
    if text[0] in vowels:
        count +=1
    for index in range(1,len(text)):
        if text[index] in vowels and text[index-1] not in vowels:
            count +=1
    if text.endswith('e'):
        count -= 1
    if text.endswith('le'):
        count+=1
    if count == 0:
        count +=1
    return count

print(count_syllables("hello world"))

3

In [87]:
# question 47

s1 = "klsadjfauiou34^&*"

special_char = "!@#$%^&*()_+=-{}[]|:"

for i in special_char:
    if i in s1:
        print("the string has special characters")
        break

the string has special characters

In [91]:
# question 48

def remove_nth_word(text, n):
    words = text.split()
    if n > 0 and n <= len(words):
        del words[n-1]
    return ' '.join(words)

print(remove_nth_word("Hello world, I am an AI", 5))

Hello world, I am AI

In [95]:
# question 49

def insert_nth_word(text, n, word):
    words = text.split()
    if n > 0 and n <= len(words) + 1:
        words.insert(n-1, word)
    return ' '.join(words)

print(insert_nth_word("Hello world, I am an AI", 1, "awesome"))

awesome Hello world, I am an AI

In [98]:
# question 50

def csv_to_list(csv_string):
    
    lines = csv_string.split('\n')
   
    data = [i.split(',') for i in lines]
    return data

csv_string = "name,age\nAlice,20\nBob,25"
print(csv_to_list(csv_string))

[['name', 'age'], ['Alice', '20'], ['Bob', '25']]

In [ ]:
# Topic 2: List Based

In [20]:
# Question 1

my_list = [1,2,3,4,5,6,7,8,9,10]
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
# Question 2

my_list = [1,2,3,4,5,6,7,8,9,10]

# initialize a counter:
length = 0

# counting the elements
for i in my_list:
    length += 1

# displaying the result
print("the length of the list is: ", length)

the length of the list is:  10

In [1]:
# question 3
my_list = [1,2,3,4,5,6,7,8,9,10]

my_list.append(94)

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 94]

In [3]:
# question 4

my_list = [1,2,3,4,5,6,7,8,9,10]

my_list.insert(3,45)

print(my_list)

[1, 2, 3, 45, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# question 5

my_list = [1,2,3,4,5,6,7,8,9,10]

my_list.remove(9)

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 10]

In [1]:
# question 6

my_list = [1,2,3,4,5,6,7,8,9,10]

my_list.pop(6)

print(my_list)

[1, 2, 3, 4, 5, 6, 8, 9, 10]

In [4]:
# question 7

my_list = [1,2,3,4,5,6,7,8,9,10]

if 3 in my_list:
    print("True")
else:
    print("False")

True

In [145]:
# question 8
my_list = [35,52,48,17,45,32,35,100,956]
print(my_list.index(52))

1

In [144]:
# question 9
my_list = [35,52,48,17,45,32,35,100,956]
print(my_list.count(35))

2

In [142]:
# question 10
my_list = [35,52,48,17,45,32,3,100,956]
my_list.reverse()
print(my_list)

[956, 100, 3, 32, 45, 17, 48, 52, 35]

In [141]:
# question 11
my_list = [35,52,48,17,45,32,3,100,956]
my_list.sort()
print(my_list)

[3, 17, 32, 35, 45, 48, 52, 100, 956]

In [140]:
# question 12
my_list = [35,52,48,17,45,32,3,100,956]
my_list.sort(reverse=True)
print(my_list)

[956, 100, 52, 48, 45, 35, 32, 17, 3]

In [138]:
# question 13
list1 = [i for i in range(1,20) if i%2==0]
print(list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [137]:
# question 14

list1 = [i for i in range(1,20) if i%2!=0]
print(list1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [134]:
# question 15

my_list = [35,52,48,17,45,32,3,100,956]
print(sum(my_list))

1288

In [133]:
# question 16
my_list = [35,52,48,17,45,32,3,100,956]
print(max(my_list))

956

In [132]:
# question 17
my_list = [35,52,48,17,45,32,3,100,956]
print(min(my_list))

3

In [130]:
# question 18

list1 = [i**2 for i in range(1,10)]
print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [128]:
# question 19

import random

list1 = [random.randint(1,100) for i in range(10)]

print(list1)

[79, 98, 24, 5, 73, 75, 50, 67, 52, 69]

In [125]:
# question 20

# defining a list
dup_list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

# creating an empty list
list1 = []

for i in dup_list:
    if i not in list1:
        list1.append(i)

print(list1)

[1, 2, 3, 4, 5, 6, 7]

In [123]:
# question 21

list1 = [1,2,4,5,6]
list2 = [2,4,3,7,5]

list3 = [i for i in list1 if i in list2]
print(list3)

[2, 4, 5]

In [122]:
# question 22

list1 = [1,2,4,5,6]
list2 = [2,4,3,7,5]

list3 = [i for i in list1 if i not in list2]
print(list3)

[1, 6]

In [120]:
# question 23

list1 = [1,2,3,4,5,6]
list2 = ["a","b","c","d","e"]

list3 = [i for i in list1]+[i for i in list2]
print(list3)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [118]:
# question 24
list1 = [1,2,3,4,5,6,7,8,9]

list2 = [i*2 for i in list1]
print(list2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [117]:
# question 25

list1 = [1,2,3,4,5,6,7,8,9]

list2 = [i for i in list1 if i%2==0]
print(list2)

[2, 4, 6, 8]

In [116]:
# question 26

list1 = ["1","2","3","4","5","6","7"]

list2 = [int(i) for i in list1]
print(list2)

[1, 2, 3, 4, 5, 6, 7]

In [115]:
# question 27

list1 = [1,2,3,4,5,6,7,8,9]

list2 = [str(i) for i in list1]

print(list2)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [106]:
# question 28

nested_list = [[1, 2, 3], [4, 5], [6], [7, 8, 9]]

flat_list = [item for sublist in nested_list for item in sublist]

print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
# question 29

def fibonacciNum(n):
    fib_nums = [0,1]
    while len(fib_nums)<n:
        fib_nums.append(fib_nums[-1]+fib_nums[-2])
    return fib_nums

print(f"the first 10 fibonacci numbers are: ",fibonacciNum(10))

the first 10 fibonacci numbers are:  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [103]:
# question 30

list1 = [1,2,3,5,10,11,44,458,5645647]

if sorted(list1) == list1:
    print("the list is sorted")
else:
    print("the list is not sorted")

the list is sorted

In [111]:
# question 31

def rotateLeft(n,list1):
    return list1[n:]+list1[:n]

print(rotateLeft(3,[1,2,3,4,5,6,7,8]))

[4, 5, 6, 7, 8, 1, 2, 3]

In [110]:
# question 32

def rotateRight(n,list1):
    return list1[-n:]+list1[:-n]

print(rotateRight(2,[1,2,3,4,5]))

[4, 5, 1, 2, 3]

In [99]:
# question 33

prime_numbers = [num for num in range(2,51) if all(num%i!=0 for i in range(2,num))]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [98]:
# question 34

my_list = [1, 78, 2, 90, 3, 4, 5, 6,5,6565,345,234,86,234,6]

def chunking(my_list,n):
    chunks = []
    for i in range(0,len(my_list),n):
        chunk = my_list[i:i+n]
        chunks.append(chunk)
    return chunks

print("chunking result: ", chunking(my_list,4))

chunking result:  [[1, 78, 2, 90], [3, 4, 5, 6], [5, 6565, 345, 234], [86, 234, 6]]

In [95]:
# question 35
my_list = [1, 78, 2, 90, 3, 4, 5, 6]

def secondLargest(my_list):
    my_list.sort()
    return my_list[-2]

print(secondLargest(my_list))

78

In [94]:
# question 36

my_list = [1,2,3,4,5,6,7,8,9,10]

def square(my_list):
    return [my_list[i]**2 for i in range(len(my_list))]

print(square(my_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [87]:
# question 37

list = ["a","b","c","d"]

def listToDict(list):
    return {element: index for index,element in enumerate(list)}

listToDict(list)

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [85]:
# question 38

import random

# defining a list
list = [1,2,3,4,5,6,78,90]

random.shuffle(list)

print(list)

[1, 78, 2, 90, 3, 4, 5, 6]

In [84]:
# question 39
import math
n = 10
def first_n_factorials(n):
    return [math.factorial(i) for i in range(n)]

print(first_n_factorials(n))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [78]:
# question 40

# defining two lists

list1 = [1,2,3,4,5,6,7]
list2 = [3,4,5,6,7,8,9]

if any(element in list2 for element in list1):
    print("Yes, there are common elements.")
else: 
    print("No, there are no common elements between the two lists.")

Yes, there are common elements.

In [74]:
# question 41

# defining a list
my_list = [1,2,-3,4,5,53,-55,-69,54,-6565]

my_list.clear()

print(my_list)

[]

In [73]:
# questrion 42

# defining a list
my_list = [1,2,-3,4,5,53,-55,-69,54,-6565]

for i in range(len(my_list)):
    if my_list[i] <0:
        my_list[i] = 0



print(my_list)

[1, 2, 0, 4, 5, 53, 0, 0, 54, 0]

In [63]:
# questrion 43

user_input = input("give me a string: ")

my_list = list(user_input.split())

print(my_list)

['this', 'is', 'a', 'test', 'string', 'to', 'test', 'the', 'program']

In [68]:
# question 44

user_input = input("give me a number of words separated by space: ").split()

my_string = " ".join(user_input)
print(my_string)

gasdf asdjfklas adskfjask

In [60]:
# question 45

def firstPowersof2(n):
    return list(i**2 for i in range(1,n+1))

firstPowersof2(5)

[1, 4, 9, 16, 25]

In [59]:
# question 46

# defining a list of strings
my_string = ["first string","second string","third string","fourth string","fifth string"]

def longestStrings(my_string):
    return max(my_string, key =len)

longestStrings(my_string)

'second string'

In [58]:
# question 47

# defining a list of strings
my_string = ["first string","second string","third string","fourth string","fifth string"]

def shortestStrings(my_string):
    return min(my_string, key =len)

shortestStrings(my_string)

'first string'

In [57]:
# question 48

def firstnTriangularNumbers(n):
    return list(i*(i+1)//2 for i in range(1,n+1))

firstnTriangularNumbers(5)

[1, 3, 6, 10, 15]

In [55]:
# question 49

my_list = [1,2,3,4,5,6,7,8,9,10]

def subsequence (my_list,s):
    iter_lst = iter(my_list)
    return all(any(x==y for y in iter_lst)for x in s)

s = list(map(int, input("Enter a list of numbers with commas: ").split(",")))

subsequence(my_list,s)

True

In [6]:
# question 50

my_list = [1,2,3,4,5,6,7,8,9,10]

def swapElements(list,pos1,pos2):
    list[pos1],list[pos2] = list[pos2],list[pos1]
    return list

swapElements(my_list,4,8)

[1, 2, 3, 4, 9, 6, 7, 8, 5, 10]

In [ ]:
# Topic 3: Tuple Based

In [22]:
# Question 1

my_tuple = (1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [23]:
# Question 2

my_tuple = (1,2,3,4,5)
my_tuple[2]

3

In [7]:
# Question 3

# take user input string
user_input = tuple(input("enter your word separated by space: ").split())

# calculating the length without the len() function
tuple_len = 0

for i in user_input:
    tuple_len +=1

print("your tuple length: ", tuple_len)

your tuple length:  6

In [9]:
# Question 4

# defining a tuple
my_tuple = ("a","b","c","d","b","e","b","A","a","b")

# taking user input
user_input = input("which element do you want to count for: ")

# defining a element counter
counter = 0

for i in my_tuple:
    if i == user_input:
        counter+=1

print(f"the count of your element{user_input} is: ", counter)

the count of your elementb is:  4

In [12]:
# Question 5

# taking user input to form a tuple
user_input = tuple(input("please enter your input with a space: ").split())

# taking user input for the element to check 
user_element = input("which element do you want the first index for: ")

# checking the index
result = user_input.index(user_element)

# displaying the result
print("here is the first index of your element: ", result)

here is the first index of your element:  1

In [14]:
# Question 6

# defining a tuple
my_tuple = ("a","b","c","d","b","e","b","A","a","b")

# taking user input
user_input = input("which element do you want to check for: ")

if user_input in my_tuple:
    print("your element exists in this tuple")
else:
    print("your element doesn't exist in this tuple")

your element exists in this tuple

In [15]:
# Question 7

# defining a tuple
my_tuple = ("a","b","c","d","b","e","b","A","a","b")

# converting the tuple into a list
my_list = list(my_tuple)

print(my_list)

['a', 'b', 'c', 'd', 'b', 'e', 'b', 'A', 'a', 'b']

In [1]:
# question 8

tupl1 = (1,2,3,4,5,6,7)
list1 = list(tupl1)
print(list1)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
# question 9


tupl2 = (2,3,4,5,6,7)
var1,var2,var3,var4,var5,var6 = tupl2
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)
print(var6)

2
3
4
5
6
7

In [3]:
# question 10

def tupleCreate():
    return tuple(i for i in range(1,11)if i%2==0)

print(tupleCreate())

(2, 4, 6, 8, 10)

In [4]:
# question 11

def tupleCreate():
    return tuple(i for i in range(1,11)if i%2!=0)

print(tupleCreate())

(1, 3, 5, 7, 9)

In [5]:
# question 12

tupl1 = (1,2,3,4)
tupl2 = (5,6,7,8)
tupl3 = tupl1+tupl2
print(tupl3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [6]:
# question 13

tupl1 = (1,2,3,4,5,6)
repeated_tuple = tupl1*3
print(repeated_tuple)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [7]:
# question 14

tupl3 = ()
if len(tupl3) ==0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

In [9]:
# question 15

nested_tuple = ((1,2),(3,4))
print(nested_tuple)

((1, 2), (3, 4))

In [13]:
# question 16

nested_tuple = (("a",2),(3,4))
print(nested_tuple[0][0])

a

In [14]:
# question 17

tupl1 = ("a")
print(tupl1)

a

In [18]:
# question 18

tupl1 = (1,2,3)
tupl2 = (4,5,6)

print(tupl1==tupl2)
print(tupl1<tupl2)

False
True

In [21]:
# question 19

tupl1 = (3,63,345,67,456)
del tupl1
print(tupl1)

NameError: name 'tupl1' is not defined

In [22]:
# question 20

tupl1 = (3,63,345,67,456,45,6345,452,42,6,7,2,7456,6)
tupl2 = tupl1[1:9:3]
print(tupl2)

(63, 456, 452)

In [23]:
# question 21
tupl1 = (3,63,345,67,456,45,6345,452,42,6,7,2,7456,6)
print(max(tupl1))

7456

In [24]:
# question 22
tupl1 = (3,63,345,67,456,45,6345,452,42,6,7,2,7456,6)
print(min(tupl1))

2

In [31]:
# question 23
str1 = "Hello my name is bisnoi and I love India"
tupl1 = set()
for i in str1:
    tupl1.add(i)

print(sorted(tuple(tupl1)))

[' ', 'H', 'I', 'a', 'b', 'd', 'e', 'i', 'l', 'm', 'n', 'o', 's', 'v', 'y']

In [34]:
# question 24
tupl1 = (' ', 'H', 'I', 'a', 'b', 'd', 'e', 'i', 'l', 'm', 'n', 'o', 's', 'v', 'y')
str1 = " ".join(tupl1)

print(str1)

  H I a b d e i l m n o s v y

In [35]:
# question 25

tupl1 = ("a",1,34.9,True)
print(tupl1)

('a', 1, 34.9, True)

In [36]:
# question 26

tupl1 = ("a",1,34.9,True)
tup2 = (1,2,3,4)
print(tupl1 ==tup2)

False

In [38]:
# question 27

tupl1 = (34.6,45.7,76.2,65.23,97.0)

print(sorted(tupl1))

[34.6, 45.7, 65.23, 76.2, 97.0]

In [40]:
# question 28

tupl1 = (2,3,5,6,74,7,245,7)
tupl2 = list()
for i in tupl1:
    tupl2.append(str(i))

print(tuple(tupl2))

('2', '3', '5', '6', '74', '7', '245', '7')

In [41]:
# question 29
tupl1 = ('2', '3', '5', '6', '74', '7', '245', '7')
tupl2 = list()

for i in tupl1:
    tupl2.append(int(i))

print(tuple(tupl2))

(2, 3, 5, 6, 74, 7, 245, 7)

In [42]:
# question 30

tupl1 = (3,546,7,23,7,8,45,7,8,345)
tupl2 = (45,56,46,48,16488,64584,2,64)

tupl3 = tupl1 + tupl2
print(tupl3)

(3, 546, 7, 23, 7, 8, 45, 7, 8, 345, 45, 56, 46, 48, 16488, 64584, 2, 64)

In [44]:
# question 31

tupl1 = ((2,3),(345,64),(45,86,234,342),(243,234,68,6))
tupl2 = list()
for i in tupl1:
    for j in i:
        tupl2.append(j)
print(tuple(tupl2))

(2, 3, 345, 64, 45, 86, 234, 342, 243, 234, 68, 6)

In [ ]:
# question 32

def primeNumbers(n):
    prime_numbers = list()
    i=0
    while i < n:
        if i<0:
            continue
        elif i==1:
            prime_numbers.append(i)
        elif i%2==0:
            continue
        else:

In [150]:
# question 33

tuple1 = ("m","a","l","a","y","a","l","a","m")
tuple2 = tuple1[::-1]

if tuple1 == tuple2:
    print("the tuple is a pallindrome")
else:
    print("this is not a pallindrome ")

the tuple is a pallindrome

In [149]:
# question 34

tuple1 = tuple(i**2 for i in range(1,6))
print(tuple1)

(1, 4, 9, 16, 25)

In [148]:
# question 35
tupl1 = (60, 66, 74, 66, 84, 26, 45, 72, 37, 71, 70)
eventuple = tuple(i for i in tupl1 if i%2==0)
print(eventuple)

(60, 66, 74, 66, 84, 26, 72, 70)

In [147]:
# question 36

tupl1 = (60, 66, 74, 66, 84, 26, 45, 72, 37, 71, 70)
tupl2 = tuple(i*2 for i in tupl1)
print(tupl2)

(120, 132, 148, 132, 168, 52, 90, 144, 74, 142, 140)

In [50]:
# question 37

import random

def randNumGen(n):
    return tuple(random.randint(1,100) for i in range(n))

randNumGen(11)

(60, 66, 74, 66, 84, 26, 45, 72, 37, 71, 70)

In [46]:
# question 38

def isTupleSorted (tup):
    return all(tup[i]<=tup[i+1] for i in range(len(tup)-1))

tup = (1,2,4,5,7,8,9)

isTupleSorted(tup)

True

In [43]:
# question 39

my_tuple = (1,2,3,4,5,6,7)

#taking user input
n = int(input("tell me the number to which rotate by towards left: "))

my_tuple2 = my_tuple[n:]+my_tuple[:n]

print(my_tuple2)

(3, 4, 5, 6, 7, 1, 2)

In [40]:
# question 40

my_tuple = (1,2,3,4,5)

#taking user input
n = int(input("tell me the number to which rotate by towards right: "))

my_tuple2 = my_tuple[-n:]+my_tuple[:-n]

print(my_tuple2)

(4, 5, 1, 2, 3)

In [39]:
# question 41

def fibonacciNum (n):
    fib_nums = [0,1]

    while len(fib_nums) < n:
        fib_nums.append(fib_nums[-1]+fib_nums[-2])
    return tuple(fib_nums[:n])

n = int(input("give a valid number: "))

print(f"the first {n} numbers of fibonacci sequence are: ",fibonacciNum(n))

the first 5 numbers of fibonacci sequence are:  (0, 1, 1, 2, 3)

In [37]:
# queston 42
user_input = input("please enter your input with spaces: ").split()

print(tuple(user_input))

('1', '2', '3', '45', '6')

In [35]:
# question 43

my_tuple = (1,2,3,4,5,6,7,8,9)
t = list(my_tuple)
t[4],t[6]=t[6],t[4]
print(tuple(t))

(1, 2, 3, 4, 7, 6, 5, 8, 9)

In [33]:
# question 44

my_tuple = ("a","b","c","d")

print(my_tuple[::-1])

('d', 'c', 'b', 'a')

In [28]:
# question 45

def tupleofFirstnPowersof2(n):
    return tuple(i**2 for i in range(1,n+1))

tupleofFirstnPowersof2(5)

(1, 4, 9, 16, 25)

In [26]:
# question 46

# defining a number of strings
strings = ("the first string","the second string","the third string","the last string")

def shortestStrings (strings):
    return max(strings, key=len)

print("the longest sting is: ",shortestStrings(strings) )

the longest sting is:  the second string

In [25]:
# question 47

# defining a number of strings
strings = ("the first string","the second string","the third string","the last string")

def shortestStrings (strings):
    return min(strings, key=len)

print("the shoretest sting is: ",shortestStrings(strings) )

the shoretest sting is:  the last string

In [19]:
# question 48

def triangularNumbers (n):
    return tuple(i*(i+1)//2 for i in range(1,n+1))

n = int(input("please enter a valid number: "))

print(f"the first {n} numbers of triangular numbers are: ",triangularNumbers(n))

the first 5 numbers of triangular numbers are:  (1, 3, 6, 10, 15)

In [17]:
# question 49

def subsequence(a,b):
    return all(any(x==y for x in a)for y in b)

a = tuple(input("please enter the first tuple: "))
b = tuple(input("please enter another tuple"))

subsequence(a,b)

True

In [15]:
# question 50

def altZeroOne(length_of_tuple):
  return tuple(i%2 for i in range(length_of_tuple))

altZeroOne(6)

(0, 1, 0, 1, 0, 1)

In [ ]:
# Topic 4: Set Based

In [25]:
# Question 1

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [17]:
# Question 2

my_set = {1,4,6,7,8}
my_set.add(3)
print(my_set)

{1, 3, 4, 6, 7, 8}

In [20]:
# Question 3

my_set = {1,4,6,7,8}
my_set.remove(4)
print(my_set)

{1, 6, 7, 8}

In [24]:
# Question 4
my_set = {1,4,6,7,8}

# ask the user for the element they want to search for
user_input = int(input("which element do you want to search for: "))

# check
if user_input in my_set:
    print("your element exists in the given set")
else:
    print("your element doesn't exist in the set")

your element exists in the given set

In [26]:
# Question 5

# defining a set
my_set = {1,4,6,7,8,99,101,5,45}

# defining a counter variable
count = 0

# counting the length without the len() variable
for i in my_set:
    count += 1

print("the length of your set is: ", count)

the length of your set is:  9

In [31]:
# Question 6

# defining a set
my_set = {1,4,6,7,8,99,101,5,45}
# clearing the set of all elements
my_set.clear()
# displaying the result
print(my_set)

set()

In [35]:
# Question 7

my_set = set()

iterable = range(1,11)

for i in iterable:
    if i%2==0:
        my_set.add(i)
    
print(my_set)

{2, 4, 6, 8, 10}

In [36]:
# Question 8

my_set = {i for i in range(1,11) if i%2!=0}

print(my_set)

{1, 3, 5, 7, 9}

In [37]:
# Question 9

# defining two sets
set1 = {1,2,3,4}
set2 = {3,4,5,6}

set3 = set1.union(set2)

print(set3)

{1, 2, 3, 4, 5, 6}

In [38]:
# Question 10

# defining two sets
set1 = {1,2,3,4}
set2 = {3,4,5,6}
# performing the intersection 
set3 = set1.intersection(set2)
# displaying the output
print(set3)

{3, 4}

In [40]:
# Question 11

# defining two sets
set1 = {1,2,3,4}
set2 = {3,4,5,6}
# performing the difference 
set3 = set2.difference(set1)
# displaying the output
print(set3)

{5, 6}

In [1]:
# Question 12

# defining two sets
set1 = {1,2,3,4}
set2 = {3,4}

# displaying the result
print(set2.issubset(set1))

True

In [2]:
# Question 13

# defining two sets
set1 = {1,2,3,4}
set2 = {3,4}

# displaying the result
print(set1.issuperset(set2))

True

In [3]:
# Question 14

# defining a list 
my_list = [1,2,3,4,5,"a","b","c"]

# displaying the result
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5, 'a', 'c', 'b'}

In [4]:
# Question 15

# taking a set
my_set = {1,2,3,4,5}

# displaying the result
print(list(my_set))

[1, 2, 3, 4, 5]

In [1]:
# Question 16

# define a set
my_set = {1,2,3,4,5}

# as sets are unorderd using pop() will remove a random element
removed_element = my_set.pop()

# displaying the result
print(f"the updated set: {my_set}")

the updated set: {2, 3, 4, 5}

In [ ]:
# Question 17

# define a set
my_set = {1,2,3,4,5}

# popping an element off
removed_element = my_set.pop()

# displaying the result
print(f"the updated set: {my_set}")

In [10]:
# Question 18

# defining sets
set1={1,2,3,"a",4,5,6,"b"}
set2 = {1,2,4,6}

# checking and displaying the output
print(set1.isdisjoint(set2))

False

In [11]:
# Question 19

# defining sets
set1={1,2,3,"a",4,5,6,"b"}
set2 = {1,2,4,6}

# checking and displaying the output
print(set1.symmetric_difference(set2))

{3, 5, 'b', 'a'}

In [14]:
# Question 20

# defining sets
set1={1,2,3}
set2={4,5,6}

# performing the operation and displaying the result
set2.update(set1)
print(set2)

{1, 2, 3, 4, 5, 6}

In [20]:
# Question 21

# defining a function to intake a user input for a given range 
def generate_primes(start,end):
    primes = set()
    for i in range(start,end+1):
        if i >1: # prime numbers are greater than 1
            for j in range(2,i):
                if (i%j)==0:
                    break
                else:
                    primes.add(i)
    return primes

# ask the user for range
start = int(input("please enter the start of the range: "))
end = int(input("please enter the end of the range: "))

# generate and print the output
print(generate_primes(start,end))

{3, 5, 7, 9, 11}

In [21]:
# Question 22

# define sets
set1={1,2,3}
set2={2,3,1}

#check and display the result
print(set1==set2)

True

In [22]:
# Question 23

# defining a set
set1 = {1,2,3,4,5,6}

# creating a frozen set
set2 = frozenset(set1)

# displaying the output
print(set2)

frozenset({1, 2, 3, 4, 5, 6})

In [24]:
# Question 24

# defining sets
set1={1,2,3,"a",5,6,"b"}
set2 = {1,2,4,6}

# checking and displaying the output
print(set1.isdisjoint(set2))

False

In [25]:
# question 25

# defining an empty set
my_set = set()

# creating a loop to add squares from 1 to 5
for i in range(1,6):
    my_set.add(i**2)

# displaying the result
print(my_set)

{1, 4, 9, 16, 25}

In [30]:
# question 26

# defining a set and a copy to iterate through
set1 = {1,2,3,4,5,6,7,8,9,10,20}
set2= set() 

# 
for i in set1:
    if i%2==0:
        set2.add(i)


# dispaly the result
print(set2)

{2, 4, 6, 8, 10, 20}

In [31]:
# question 27

# defining a set
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = set()

# displaying the result
for i in set1:
    set2.add(i*2)

print(set2)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [70]:
# question 28

import random

random_numbers = {random.randint(1,10) for i in range(5)}

print(random_numbers)

{9, 3, 6, 7}

In [35]:
# question 29

set1 = {1,2}

if len(set1)==0:
    print("the set is empty")
else: 
    print("the set is not empty")

the set is not empty

In [37]:
# question 30

set1 = {1,2,3,4,5}

set2 = frozenset(set1)

nested_set = set([set2])

print(nested_set)

{1, 2, 3, 4, 5}

In [40]:
# question 31

set1 = {1,2,3,4,5}

set1.discard(3)

print(set1)

{1, 2, 4, 5}

In [42]:
# question 32

# Define the sets
set1 = {4, 5}
set2 = {4, 5, 6, 7}

# Check if set1 is a subset of set2
print(set1.issubset(set2))

# Check if set1 is a superset of set2
print(set1.issuperset(set2))

# check for disjunction
print(set1.isdisjoint(set2))

True
False
False

In [43]:
# question 33

string ="my name is khan"
set1 = set(string)
print(set1)

{'k', 'e', 'a', 'y', 'm', ' ', 's', 'h', 'i', 'n'}

In [44]:
# question 34

set_of_strings = {"1","2","3","4","5"}

set_of_integers = set(map(int,set_of_strings))

print(set_of_integers)

{1, 2, 3, 4, 5}

In [45]:
# question 35

set_of_integers = {1,2,3,4,5,6,7,8}

set_of_strings = set(map(str,set_of_integers))

print(set_of_strings)

{'2', '3', '4', '7', '6', '8', '1', '5'}

In [46]:
# question 36

my_tuple = (1,2,3,4,5,6)

my_set= set(my_tuple)

print(my_set)

{1, 2, 3, 4, 5, 6}

In [47]:
# question 37

my_set = {1,2,3,4,5,6,7}

my_tuple = tuple(my_set)

print(my_tuple)

(1, 2, 3, 4, 5, 6, 7)

In [48]:
# question 38

set1 = {4,5,6,1,3,5,9,4,6}

print(max(set1))

9

In [49]:
# question 39

set1 = {4,5,6,1,3,5,9,4,6}

print(min(set1))

1

In [50]:
# question 40

# get some input from the user
user_input = input("please enter a bunch of words with spaces in between: ").split()

# create a set from the user input
set1 = {i for i in user_input}

print(set1)

{'Here', 'this', 'a', 'news!', 'good', 'ram', 'sapan', 'is', 'from', 'hi', 'with', 'odisha.'}

In [51]:
# question 41

# defining two sets
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {7,8,9,0,11,12,13,14}

# get the intersection of two sets
set3 = set1.intersection(set2)

# check if the intersection is empty
if len(set3) == 0:
    print("the intersection is empty")
else: 
    print("the intersection is not empty")

the intersection is not empty

In [52]:
# question 42

fib_sequence = [0,1]

while len(fib_sequence) < 5:
    fib_sequence.append(fib_sequence[-1]+fib_sequence[-2])

print(fib_sequence)

[0, 1, 1, 2, 3]

In [53]:
# question 43

my_list = [1,2,3,2,3,1,2,5,6,6,2,7]

# creating a set from the above list will remove duplicates by default

my_set = set(my_list)

print(my_set)

{1, 2, 3, 5, 6, 7}

In [54]:
# question 44

# defining two sets 
set1 = {1,2,3,4,5}
set2 = {5,4,1,3,2}

# check if they have same elements
if set1 == set2:
    print("the elements are same")
else: 
    print('the sets do not have the same elements')

the elements are same

In [57]:
# question 45

# take user input for n where n is the first n powers of 2
n = int(input("please enter the value of n: "))

iterable1 = range(1,n+1)

set1 = set()

for i in iterable1:
    set1.add(2**i)

print(set1)

{32, 2, 4, 8, 16}

In [64]:
# question 46

my_list = [1,2,3,4,5,6]
my_set = {9,8,7,4,5,6}

# covert the list to a set
set1 = set(my_list)

# find the common elements
set2 = my_set.intersection(set1)

print(set2)

{4, 5, 6}

In [65]:
# question 47

# take user input
n = int(input("please enter a value for n: "))

triangular_numbers = {i*(i+1)//2 for i in range(1, n+1)}

print(triangular_numbers)

{1, 3, 6, 10, 15}

In [66]:
# question 48

# defining two sets
set1 = {1,2,3,4,5}
set2= {1,2}

# checking 
set2.issubset(set1)

True

In [67]:
# question 49

# take user input 
n = int(input("please enter a value for n: "))

# a set can only contain 0 and 1 as elements as duplicates are not allowed
my_set = {i%2 for i in range(n)}

print(my_set)

{0, 1}

In [68]:
# question 50

set1 = {1,2,3}
set2 = {3,4,5,6}
set3 = {5,6,7,8}
set4 = {9.10}

merged_set = set1 |set2| set3| set4

print(merged_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9.1}